In [2]:
import pandas as pd
from pandas import Series, DataFrame

In [4]:
#Web에서도 읽어올 수 있다.
german=pd.read_csv("http://freakonometrics.free.fr/german_credit.csv")
list(german.columns.values)

['Creditability',
 'Account Balance',
 'Duration of Credit (month)',
 'Payment Status of Previous Credit',
 'Purpose',
 'Credit Amount',
 'Value Savings/Stocks',
 'Length of current employment',
 'Instalment per cent',
 'Sex & Marital Status',
 'Guarantors',
 'Duration in Current address',
 'Most valuable available asset',
 'Age (years)',
 'Concurrent Credits',
 'Type of apartment',
 'No of Credits at this Bank',
 'Occupation',
 'No of dependents',
 'Telephone',
 'Foreign Worker']

In [6]:
type(german)

pandas.core.frame.DataFrame

###**데이터를 읽어온 후 반드시 해야할 것**

In [7]:
#첫번째
#첫 n개 데이터가 어떻게 생겼는지 확인(기본 5개)
german.head()

   Creditability  Account Balance  ...  Telephone  Foreign Worker
0              1                1  ...          1               1
1              1                1  ...          1               1
2              1                2  ...          1               1
3              1                1  ...          1               2
4              1                1  ...          1               2

[5 rows x 21 columns]

In [11]:
#두번쨰
#전체 건수는?  (row, column)
german.shape

(1000, 21)

In [12]:
#세번째, 컬럼의 종류 확인
german.columns

Index(['Creditability', 'Account Balance', 'Duration of Credit (month)',
       'Payment Status of Previous Credit', 'Purpose', 'Credit Amount',
       'Value Savings/Stocks', 'Length of current employment',
       'Instalment per cent', 'Sex & Marital Status', 'Guarantors',
       'Duration in Current address', 'Most valuable available asset',
       'Age (years)', 'Concurrent Credits', 'Type of apartment',
       'No of Credits at this Bank', 'Occupation', 'No of dependents',
       'Telephone', 'Foreign Worker'],
      dtype='object')

In [13]:
#네번째 데이터프레임의 구조
german.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Creditability                      1000 non-null   int64
 1   Account Balance                    1000 non-null   int64
 2   Duration of Credit (month)         1000 non-null   int64
 3   Payment Status of Previous Credit  1000 non-null   int64
 4   Purpose                            1000 non-null   int64
 5   Credit Amount                      1000 non-null   int64
 6   Value Savings/Stocks               1000 non-null   int64
 7   Length of current employment       1000 non-null   int64
 8   Instalment per cent                1000 non-null   int64
 9   Sex & Marital Status               1000 non-null   int64
 10  Guarantors                         1000 non-null   int64
 11  Duration in Current address        1000 non-null   int64
 12  Most valuable available asset      1000 non-null   int64
 13  Age (years)                        1000 non-null   int64
 14  Concurrent Credits                 1000 non-null   int64
 15  Type of apartment                  1000 non-null   int64
 16  No of Credits at this Bank         1000 non-null   int64
 17  Occupation                         1000 non-null   int64
 18  No of dependents                   1000 non-null   int64
 19  Telephone                          1000 non-null   int64
 20  Foreign Worker                     1000 non-null   int64
dtypes: int64(21)
memory usage: 164.2 KB

In [14]:
#다섯번째, 마지막 n개의 데이터는?
german.tail()

     Creditability  Account Balance  ...  Telephone  Foreign Worker
995              0                1  ...          1               1
996              0                1  ...          1               1
997              0                4  ...          2               1
998              0                2  ...          2               1
999              0                1  ...          1               1

[5 rows x 21 columns]

In [15]:
#여섯번째, null값이 얼마나 있나 찾기
german.isnull()

     Creditability  Account Balance  ...  Telephone  Foreign Worker
0            False            False  ...      False           False
1            False            False  ...      False           False
2            False            False  ...      False           False
3            False            False  ...      False           False
4            False            False  ...      False           False
..             ...              ...  ...        ...             ...
995          False            False  ...      False           False
996          False            False  ...      False           False
997          False            False  ...      False           False
998          False            False  ...      False           False
999          False            False  ...      False           False

[1000 rows x 21 columns]

In [16]:
german.isnull().sum()

Creditability                        0
Account Balance                      0
Duration of Credit (month)           0
Payment Status of Previous Credit    0
Purpose                              0
Credit Amount                        0
Value Savings/Stocks                 0
Length of current employment         0
Instalment per cent                  0
Sex & Marital Status                 0
Guarantors                           0
Duration in Current address          0
Most valuable available asset        0
Age (years)                          0
Concurrent Credits                   0
Type of apartment                    0
No of Credits at this Bank           0
Occupation                           0
No of dependents                     0
Telephone                            0
Foreign Worker                       0
dtype: int64

In [17]:
german.isnull().sum().sum()

0

In [18]:
#일곱번째, 요약 통계량응ㄹ 볼떄
german.describe()

       Creditability  Account Balance  ...    Telephone  Foreign Worker
count    1000.000000      1000.000000  ...  1000.000000     1000.000000
mean        0.700000         2.577000  ...     1.404000        1.037000
std         0.458487         1.257638  ...     0.490943        0.188856
min         0.000000         1.000000  ...     1.000000        1.000000
25%         0.000000         1.000000  ...     1.000000        1.000000
50%         1.000000         2.000000  ...     1.000000        1.000000
75%         1.000000         4.000000  ...     2.000000        1.000000
max         1.000000         4.000000  ...     2.000000        2.000000

[8 rows x 21 columns]

In [25]:
#여덟번째 특정 컬럼(변수)
german["Purpose"].value_counts().sort_index('index')

0     234
1     103
2     181
3     280
4      12
5      22
6      50
8       9
9      97
10     12
Name: Purpose, dtype: int64

In [26]:
german["Purpose"].value_counts().sort_values()

8       9
10     12
4      12
5      22
6      50
9      97
1     103
2     181
0     234
3     280
Name: Purpose, dtype: int64

In [29]:
german["Credit Amount"].value_counts()

1262    3
1258    3
1478    3
1275    3
1393    3
       ..
1345    1
1343    1
7485    1
3345    1
2051    1
Name: Credit Amount, Length: 923, dtype: int64

In [30]:
#열번쨰, 여러 컬럼 추출할때

df = german[["Creditability", "Account Balance","Duration of Credit (month)" ]]
df

     Creditability  Account Balance  Duration of Credit (month)
0                1                1                          18
1                1                1                           9
2                1                2                          12
3                1                1                          12
4                1                1                          12
..             ...              ...                         ...
995              0                1                          24
996              0                1                          24
997              0                4                          21
998              0                2                          12
999              0                1                          30

[1000 rows x 3 columns]

In [36]:
#열 한번쨰, 
for row in range(0, len(df), 100):
  print("row = ", row)

  for col in range(0, df.shape[1]):
    print("row = ", row)
    print("col = ", col)
    print("value = ", df.iloc[row.col])
    print("="*50)
  break

row =  0
row =  0
col =  0

AttributeError: ignored