#Quiz
## 다음 데이터를 이용하여 데이터를 분석하시오
```
df = pd.DataFrame({
    'city': ['부산', '부산', '부산', '부산', '서울', '서울', '서울'],
    'fruits': ['apple', 'orange', 'banana', 'banana', 'apple', 'apple', 'banana'],
    'price': [100, 200, 250, 300, 150, 200, 400],
    'quantity': [1, 2, 3, 4, 5, 6, 7]
})
```

>1. 도시별 가격 평균을 구하시오
2. 각 도시에서 과일별 가격 평균을 구하시오
3. 부산에서 가장 비싼 과일은 몇개인가?
4. 각 도시별로 가장 비싼 가격과 가장 적은 개수를 구하시오

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'city': ['부산', '부산', '부산', '부산', '서울', '서울', '서울'],
    'fruits': ['apple', 'orange', 'banana', 'banana', 'apple', 'apple', 'banana'],
    'price': [100, 200, 250, 300, 150, 200, 400],
    'quantity': [1, 2, 3, 4, 5, 6, 7]
})
df

In [ ]:
#도시별 가격 평균을 구하시오
df_city = df.groupby('city')
df_city.mean()

In [5]:
#각 도시에서 과일별 가격 평균을 구하시오
df.groupby(['city', 'fruits']).mean()

             price  quantity
city fruits
부산   apple   100.0       1.0
     banana  275.0       3.5
     orange  200.0       2.0
서울   apple   175.0       5.5
     banana  400.0       7.0

>위의 결과로 다음과 같이 해석할 수 있다.
* 부산이 서울보다 과일의 종류가 많다
* 평균 가격을 봐서 서울의 과일들이 부산의 과일들보다 비쌈으로 물가가 서울이 더 높다는 것을 알 수 있다.
* 서울에 과일의 개수가 더 많은 것을 봐서 인구가 많은 것이라고 유추할 수 있다.
* 부산에 과일의 개수가 적은 것으로 봐서 부산의 과일 소비율이 높다는 것을 볼 수 있다.

In [10]:
#부산에서 가장 비싼 과일은 몇개인가?
#부산에서
df_city_busan = df_city.get_group('부산')
#(가격이)가장 비싼 과일은
price_max = df_city_busan['price'].max()
#몇개인가?
df_city_busan[df_city_busan['price']==price_max]

  city  fruits  price  quantity
3   부산  banana    300         4

In [12]:
#각 도시별로 가장 비싼 가격과 가장 적은 개수를 구하시오
import numpy as np

df_city.agg({'price':np.max, 'quantity':np.min})

      price  quantity
city
부산      300         1
서울      400         5