###**실습**
1. 데이터셋 영화 타이틀 데이터 셋
  -. moves_title.csv

2. titles의 DataFrame을 만든다.

3. df필수 명령 8가지 실행
4. 전체 영화는 몇개인가?
5. 가장 빠른시기에 제작된 영화 2개를 찾아라
6. 제목이 "Hamlet"인 영화는 몇개인가?
7. 제목이 "Treasure Island"는 몇개인가? 제작년도 오름차순으로 나열
8. 1950년에서 1959년사이에 만들어진 영화는 몇개인가?

In [1]:
import pandas as pd
import numpy as np

In [118]:
#2번 titles의 DataFrame을 만든다.
url = "movies_title.csv"

titles = pd.read_csv(url, index_col=0)    #index_col로 인덱스로 사용할 열을 지정할 수 있다.
titles.shape
titles.head()

                         year
title
The Rising Son           1990
Ashes of Kukulcan        2016
The Thousand Plane Raid  1969
Crucea de piatra         1993
The 86                   2015

###**3번.df필수 명령 8가지 실행**

In [91]:
#3번.df필수 명령 8가지 실행
titles.head()

                     title  year
0           The Rising Son  1990
1        Ashes of Kukulcan  2016
2  The Thousand Plane Raid  1969
3         Crucea de piatra  1993
4                   The 86  2015

In [92]:
titles.shape

(215981, 2)

In [93]:
titles.columns

Index(['title', 'year'], dtype='object')

In [94]:
titles.info

<bound method DataFrame.info of                           title  year
0                The Rising Son  1990
1             Ashes of Kukulcan  2016
2       The Thousand Plane Raid  1969
3              Crucea de piatra  1993
4                        The 86  2015
...                         ...   ...
215976           Le mouton noir  1922
215977      Edge of the Unknown  2015
215978                    E yue  2005
215979             Lakota Girls  2015
215980             The Sting II  1983

[215981 rows x 2 columns]>

In [95]:
titles.tail()

                      title  year
215976       Le mouton noir  1922
215977  Edge of the Unknown  2015
215978                E yue  2005
215979         Lakota Girls  2015
215980         The Sting II  1983

In [96]:
titles.isnull()

        title   year
0       False  False
1       False  False
2       False  False
3       False  False
4       False  False
...       ...    ...
215976  False  False
215977  False  False
215978  False  False
215979  False  False
215980  False  False

[215981 rows x 2 columns]

In [97]:
titles.describe()

                year
count  215981.000000
mean     1984.553822
std        29.343957
min      1894.000000
25%      1965.000000
50%      1994.000000
75%      2010.000000
max      2024.000000

In [98]:
titles.value_counts()

title             year
오전 9:04           2007    1
Hellfire          1949    1
Hello Brother     1999    1
                  1994    1
Hello Babies      2014    1
                         ..
Relax             2005    1
Relatos salvajes  2014    1
Relatos           2009    1
Relativity        2016    1
#1 Mamarazzi      2015    1
Length: 215981, dtype: int64

###**4번.전체 영화는 몇개인가?**

In [99]:
print(len(titles))

215981

In [100]:
titles.shape

(215981, 2)

In [101]:
titles.value_counts()

title             year
오전 9:04           2007    1
Hellfire          1949    1
Hello Brother     1999    1
                  1994    1
Hello Babies      2014    1
                         ..
Relax             2005    1
Relatos salvajes  2014    1
Relatos           2009    1
Relativity        2016    1
#1 Mamarazzi      2015    1
Length: 215981, dtype: int64

###**5번.가장 빠른시기에 제작된 영화 2개를 찾아라**

In [102]:
titles.sort_values("year").head(2)

                                                    title  year
165182                                         Miss Jerry  1894
85708   Reproduction of the Corbett and Fitzsimmons Fight  1897

###**6번.제목이 "Hamlet"인 영화는 몇개인가? 

```
# 코드로 형식 지정됨
```

**

In [103]:
titles[titles['title']=='Hamlet'].count()

title    19
year     19
dtype: int64

?????
titles.loc["Hamlet"] 왜안됨????

###**7번. 제목이 "Treasure Island"는 몇개인가? 제작년도 오름차순으로 나열**

In [104]:
TI = titles[titles['title']=="Treasure Island"]
TI

                  title  year
47769   Treasure Island  1920
90175   Treasure Island  1950
103646  Treasure Island  1973
104714  Treasure Island  1972
166675  Treasure Island  1999
190792  Treasure Island  1985
191379  Treasure Island  1918
192917  Treasure Island  1934

In [105]:
#Treasure Island의 개수
print(TI.count())

title    8
year     8
dtype: int64

In [106]:
#Treasure Island 연도별 정렬
TI.sort_values("year")

                  title  year
191379  Treasure Island  1918
47769   Treasure Island  1920
192917  Treasure Island  1934
90175   Treasure Island  1950
104714  Treasure Island  1972
103646  Treasure Island  1973
190792  Treasure Island  1985
166675  Treasure Island  1999

###**8번. 1950년에서 1959년사이에 만들어진 영화는 몇개인가? **

In [107]:
print(titles[(titles["year"]>=1950) & (titles["year"]<=1959)].count())
many = titles[(titles["year"]>=1950) & (titles["year"]<=1959)]
many # 12120

title    12120
year     12120
dtype: int64

                                         title  year
9                               Women's Prison  1955
37      La momia azteca contra el robot humano  1958
86                            Botta e risposta  1950
88                         Perdeu-se um Marido  1957
106                             Qiu yu can hua  1953
...                                        ...   ...
215856                    Tischlein, deck dich  1956
215890                        Some Like It Hot  1959
215915                             Black Widow  1951
215919                             Encrucijada  1956
215945                       Te sigo esperando  1952

[12120 rows x 2 columns]

In [108]:
print(len(many))
many.shape

12120

(12120, 2)

In [117]:
titles.loc["Hamlet"].count()

year    19
dtype: int64